@import "tailwindcss";

/* ---------- FADE FROM LEFT ---------- */
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-left {
  animation: fadeLeft 1s ease forwards;
}
